# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# *.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

ven-node/workflow/HISAT2/*
ven-node/workflow/data/generated/*
!ven-node/workflow/data/generated/result.txt
ven-node/workflow/hg38/*
ven-node/internal/workflow/veca3c/grch38_genome.tar.gz
ven-node/internal/workflow/veca3c/Homo_sapiens.GRCh38.106.gtf.gz
ven-node/workflow/data/demo.fastq
ven-node/output.log
ven-node/workflow/data/demo_25per.fastq
ven-node/workflow/data/demo_50per.fastq
ven-node/workflow/data/demo_75per.fastq
